:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.home {
  height: 100vh;
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 9%;
  color: var(--text-color);
}
.about {
  height: 100vh;
  background-color: var(--second-bg-color);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 9%;
  color: var(--text-color);
}
.projects {
  height: 100vh;
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 9%;
  color: var(--text-color);
}
.permits {
  height: 100vh;
  background-color: var(--second-bg-color);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 9%;
  color: var(--text-color);
}
.contact {
  height: 100vh;
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 9%;
  color: var(--text-color);
}
