:root {
  --bg-color: #2c1f26;
  --second-bg-color: #522426;
  --text-color: #6d686c;
  --main-color: #bd2124;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}
.footer-text p {
  font-size: 1.6rem;
}
.footer-iconTop a {
  position: relative;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
}
.footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}
.footer-iconTop a:hover::before {
  width: 100%;
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
  transition: 0.5s;
}
.footer-iconTop a:hover i {
  color: var(--main-color);
}
/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}
@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}
